<%# <div class="container">
 <div class="row">
    <div class="col">
    <blockquote class="twitter-tweet"><p lang="hi" dir="ltr">हज़ारों ख़्वाहिशें ऐसी कि हर ख़्वाहिश पे दम निकले,<br><br>बहुत निकले मिरे अरमान लेकिन फिर भी कम निकले |<a href="https://twitter.com/hashtag/galib?src=hash&amp;ref_src=twsrc%5Etfw">#galib</a></p>&mdash; Amit Rawat (@ammiii___) <a href="https://twitter.com/ammiii___/status/1306195313971978240?ref_src=twsrc%5Etfw">September 16, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        
    </div>
    <div class="col">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto%2F%3Ffbid%3D1318999664916972%26set%3Da.105272952956322&show_text=true&width=500" width="300" height="334" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
   </div>
    <div class="col">
        <iframe src="https://www.instagram.com/p/CBp6b9FDqh2/embed" allowtransparency="true" frameborder="0" scrolling="no" width="300" height="334"></iframe>
   </div>
   </div>
</div> %>
